<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.williamtobin.assignment-reminder</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/node</string>
		<string>/Users/william.tobin/assignment-reminder/remind.js</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/william.tobin/assignment-reminder/reminder.log</string>
	<key>StandardOutPath</key>
	<string>/Users/william.tobin/assignment-reminder/reminder.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>14</integer>
		<key>Minute</key>
		<integer>30</integer>
	</dict>
</dict>
</plist>
